<main class="p-5">

    <div class="card p-5">
        <p id="test">
            Hello bingo! Hello bingo! Hello bingo! Hello bingo!
        </p>

        <span class="test">Lolololo my type is free</span>

    </div>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <br>

    <div style="margin: 50px 0 50px 100px; background: grey">
        <span>Linenenenenenen</span>
        <span>Linenenenenenen</span>
        <span>Linenenenenenen</span>
        <span>Linenenenenenen</span>

        <span class="block">Inline-block</span>

    </div>




</main>