.card {
color: red;
}

.card > p {
  color: green;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(246, 255, 0);
  -webkit-text-stroke: 1px rgb(247, 44, 227);

  direction: rtl;
}

#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;
}

* {
  font-family: 'Roboto', sans-serif;
}

.test {
  display: none;
}

.block {
  display: block;
  background: rgb(191, 176, 176);
  margin: auto;

  width: 50%;
}