{{#with data}}
<div class="card art_card">
    <div class="articles_photo" style="background-image: url({{photo}});"></div>
    <h2 class="articles_name">{{name}}</h2>
    <p class="articles_info">{{description}}</p>
    <button class="articles_button">Read All</button>
</div>
{{/with}}